<launch>
  <param name="/use_sim_time" value="true" />
  <arg name="pure_localization" default="1" />
  <arg name="localization_use_amcl" default="0" />

  <!-- Mapping -->
  <group unless="$(arg pure_localization)">
    <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node"
      args="
          -configuration_directory $(find zm_robot_mapping)/configuration_files
          -configuration_basename cart.lua"
      output="screen">
      <remap from="scan" to="scan" />
    </node>
  </group>

  <!-- Pure Localization -->
  <group if="$(arg pure_localization)">

    <!-- Cartographer -->
    <group unless="$(arg localization_use_amcl)">
      <node name="cartographer_node" pkg="cartographer_ros"
        type="cartographer_node"
        args="-configuration_directory $(find zm_robot_mapping)/configuration_files
         -configuration_basename cart.lua 
         -load_state_filename $(find zm_robot_mapping)/map/hbut_lc.pbstream"
        output="screen">
        <remap from="scan" to="scan" />
      </node>
      <param name="/localization" type="bool" value="1" />
      <param name="/set_inital_pose_x" type="double" value="0" />
      <param name="/set_inital_pose_y" type="double" value="0" />
      <param name="/set_inital_pose_z" type="double" value="0.0" />
      <param name="/set_inital_pose_ox" type="double" value="0.0" />
      <param name="/set_inital_pose_oy" type="double" value="0.0" />
      <param name="/set_inital_pose_oz" type="double" value="0" />
      <param name="/set_inital_pose_ow" type="double" value="1" />
    </group>

    <!-- AMCL -->
    <group if="$(arg localization_use_amcl)">
      <include file="$(find zm_robot_mapping)/launch/amcl.xml" />
    </group>

    <node pkg="map_server" type="map_server" name="map_server" output="screen"
      args="$(find zm_robot_mapping)/map/hbut_lc.yaml" />
  </group>

  <group unless="$(arg localization_use_amcl)">
    <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node"
      args="-resolution 0.05
    -pure_localization $(arg pure_localization)" />
  </group>
  <node name="rviz" pkg="rviz" type="rviz" required="true"
    args="-d $(find zm_robot_mapping)/configuration_files/demo_2d.rviz" />
</launch>